<div class="row">
    <div class="col-md-4">
        <checkbox-list [options]="checkBoxOptions" (toggle)="onCategoriesChange($event)"></checkbox-list>
    </div>
    <div class="col-md-6">
        <app-alert-closeable [alerts]="alerts"></app-alert-closeable>
        <div class="form-group row mt-2">
            <label class="col-md-3 col-form-label" for="awardRecipient">Presented to</label>
            <div class="col-md-9">
                <app-typeahead-search [data]="selectedRecipient" inputId="awardRecipient" (selectorChange)="onAwardRecipientChange($event)"></app-typeahead-search>
            </div>
        </div>

        <div class="form-group row mt-2" [hidden]="!showYouNameIt">
            <label class="col-md-3 col-form-label" for="customAwardName">Category</label>
            <div class="col-md-9">
                <input id="customAwardName" type="text" class="form-control" [(ngModel)]="customAwardName" placeholder="You name it!" />
            </div>
        </div>

        <div class="form-group row mt-2" [hidden]="!(selectedRecipient && selectedRecipient.Department)">
            <label class="col-md-3 col-form-label" for="department">Department</label>
            <div class="col-md-9">
                <input id="department" type="text" readonly class="form-control-plaintext" [value]="selectedRecipient && selectedRecipient.Department" />
            </div>
        </div>

        <div class="form-group row mt-2">
            <label class="col-md-3 col-form-label" for="awardFor">For</label>
            <div class="col-md-9">
                <textarea id="awardFor" class="md-textarea form-control" rows="3" [(ngModel)]="forText"></textarea>
            </div>
        </div>

        <div class="from-group row mt-2">
            <label class="col-md-3 col-form-label" for="presentedBy">Presented by</label>
            <div class="col-md-9">
                <input id="presentedBy" type="text" readonly class="form-control-plaintext" [value]="presenterName" />
            </div>
        </div>

        <div class="form-group row mt-2">
            <label class="col-md-3 col-form-label" for="currentDate">Date</label>
            <div class="col-md-9">
                <input id="currentDate" type="text" readonly class="form-control-plaintext" [value]="currentDate" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="supervisorCheckbox" [(ngModel)]="sendToSupervisor" />
                    <label class="custom-control-label" for="supervisorCheckbox">Send a copy to the recipient's supervisor</label>
                </div>
            </div>
        </div>

        <div class="row mt-2" [hidden]="!sendToSupervisor">
            <label class="col-md-3 col-form-label" for="supervisor">Supervisor</label>
            <div class="col-md-9">
                <app-typeahead-search [data]="selectedSupervisor" inputId="supervisor" (selectorChange)="onSupervisorChange($event)"></app-typeahead-search>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12">
                <button type="button"
                        class="btn btn-primary btn-md"
                        (click)="validateAndPreview()">
                Preview Award
                </button>
            </div>
        </div>
    </div>
</div>
