@{
    ViewBag.Title = "Authentication Successful";
}

<div class="alert alert-success">
    <strong>Authentication Successful.</strong>
    Please close this tab and re-try your previous action.
</div>